body{
	background-image: url(soduku.jpeg);
	background-size:cover;
}

table,th,td{
	margin-top: 30px;
	border: 1px solid black;
	border-collapse: collapse;
	width: 50px;
	height: 50px;
}
td{
	font-weight: bold;
	text-align: center;
	background-color: white;
	font-size: 30px;
}
input[type="text"]{
	width: 50px;
	height: 50px;
	color: rgb(77, 77, 255);
	font-weight: bold;
	padding-left: 15px;
	background-color: rgb(193, 240, 193);
	font-size: 30px;
}
input[type="text"]:hover{
	background-color: rgb(102, 41, 0);
	border-radius: 10px;

}
input[type="text"]:focus{
	background-color: rgb(255, 173, 51);
	border-radius: 10px;
}
td:nth-child(3n){
	border-right:  solid rgb(51, 13, 0) 5px;
}
tr:nth-child(3n){
	border-bottom: solid 5px rgb(51, 13, 0);
}
td:nth-child(1){
	border-left:   solid rgb(51, 13, 0) 5px;
}
tr:nth-child(1){
	border-top:  solid 5px rgb(51, 13, 0);
}
p{color: Green;
	font-weight: bold;
font-size: 30px;
}
.csss{
	height: 50px;
	width: 100px;
}